#leftbar ,h2{
    /* color: green;
    text-align: left;
    font-family: Lucida Typewriter; */
    color :rgb(0, 128, 0);
display: block;
font-family:"Lucida Typewriter";
font-size: 15.912px;
font-weight: 700;
/* height: 62.9625px; */
line-height: 18.2988px;
margin-block-end: 15.912px;
margin-block-start: 15.912px;
margin-bottom: 15.912px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 15.912px;
text-align: left;
unicode-bidi: isolate;
/* width: 700.8px; */
word-spacing: 0px;
    
}

#dropdownContent {
    display: none; /* Hide content by default */

}
#dropdownContent,ul,li{
    
        font-size: 15px;
        font-family: Times New Roman;

}
#dropdownBtn{
    padding-left: 10% ;
    padding-right: 10%;
    display: inline-block;
    border: solid rgb(0, 0, 0) 1px;
    text-align: center;
    font-size: xx-small;
    width: 100%;
    background-color: #d0e4fe;
    border: solid 1px #c3c3c3;
    color:black;
}

table {
    background-color: #d0e4fe;
    border-collapse: collapse;
    width: 90%;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}